<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/InterfaceAuto/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/InterfaceAuto/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/InterfaceAuto/bootstrap/css/dashboard.css"  rel="stylesheet">




  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please Sign Up..</h2>
        <label for="inputEmail" class="sr-only">User Name</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="text" id="email" class="form-control" placeholder="Email.." required>
        <label for="inputEmail" class="sr-only">Company</label>
        <input type="text" id="org" class="form-control" placeholder="Company" required>
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
          <!--</label>-->
        <!--</div>-->
        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
          <!--<div class="text-info"><label>or</label></div>-->
        <button class="btn btn-lg btn-primary btn-block">Sign up</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>window.jQuery || document.write('<script src="../../static/InterfaceAuto/bootstrap/js/jquery.min.js" ><\/script>')</script>
    <script src="../../static/InterfaceAuto/bootstrap/js/bootstrap.min.js" ></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../static/InterfaceAuto/bootstrap/js/holder.min.js" ></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/InterfaceAuto/bootstrap/js/ie10-viewport-bug-workaround.js" ></script>
  </body>
</html>
